<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./basic.css">
    <link rel="stylesheet" href="./search.css">
    <link rel="stylesheet" href="./bottom.css">
    <link rel="stylesheet" href="./searchbox.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
    <%- searchbox %>
    <div class="search__info">
        <h1>검색어: <%= searchWord %></h1>
        <% if (Object.keys(groups).length > 0) { %>
            <% Object.keys(groups).forEach(categoryName => { %>
                <ul class="item__box">
                    <li class="item__category"><%= categoryName %></li>
                    <% groups[categoryName].forEach(item => { %>
                        <li class="item__name">
                            <a href="/detail/<%= item.itemIndex %>">
                                <%- item.itemName.replace(new RegExp(searchWord, "gi"), "<mark>$&</mark>") %>
                            </a>
                        </li>
                        <li class="item__description">
                            <%- item.itemDescription.replace(new RegExp(searchWord, "gi"), "<mark>$&</mark>") %>
                        </li>
                    <% }); %>
                </ul>
            <% }); %>
        <% } else { %>
            <p class="no__result">검색 결과를 찾을 수 없습니다.</p>
        <% } %>
    </div>
    <%- bottom %>
</body>

  



<script>

    function search() {
        const searchValue = document.getElementById('searchWord').value;

        // 서버로 검색어를 전송하는 코드
        fetch('/search', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                searchValue: searchValue
            })
        })
            .then(response => response.json())
            .then(data => {
                const itemIndex = data.itemIndex;
                window.location.href = `/detail/${itemIndex}`;
            })
            .catch(error => console.error(error));
    }

    document.getElementById('searchWord').addEventListener('keyup', function (event) {
        if (event.key === 'Enter') {
            search();
        }
    });

</script>


</html>